 *{
        margin: 0;
        padding:0;
        font-family: sans-serif;
    }
   body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:rgb(192, 187, 187);
}
.box{
        width: 450px;
     padding: 20px;
     border-radius: 8px;
    align-items: center;
     background: white;
margin-top: 100px;

}
.box h1{
    color:rgb(11, 10, 10);
     align-items: center;
      justify-content: center;
      margin-left:130px;
}
.box input{
    width:80%;
   height:30px;
   color:rgb(8, 0, 0);
   border-radius: 4px;
    border:solid black;
    font-size: 15px;

    margin-left: 20px;
 
}
.box label{
    color:rgb(11, 10, 10);
    font-size: large;
    font-weight: bold;
        margin-left:25px ;
}
.box button{
    width:80%;
    height:30px;
    color:rgb(11, 10, 10);
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(136, 136, 139);
 border-radius: 4px;
    border:solid black;
    text-align: center;
    margin-left:25px ;
}
 p{
color:rgb(11, 10, 10);
font-weight: bold;
    margin-left:20px ;
}
.box hr{
    color:rgb(71, 3, 4);
}
.container {
    width: 450px;
     padding: 20px;
     border-radius: 8px;
    align-items: center;
     background: white;
margin-top: 100px;
}
.container h1{
     color:rgb(11, 10, 10);
     align-items: center;
      justify-content: center;
      margin-left:130px;
}
.container input{
    width:80%;
   height:30px;
   color:rgb(8, 0, 0);
   border-radius: 4px;
    border:solid black;
    font-size: 15px;

    margin-left: 25px;
}
.container button{
     width:80%;
    height:30px;
    color:rgb(11, 10, 10);
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(136, 136, 139);
 border-radius: 4px;
    border:solid black;
    text-align: center;
    margin-left:25px ;
}
.name{
    display: flex;
    justify-content: space-between;
    width:86%;
}
.container label{
    color:rgb(11, 10, 10);
    font-size: large;
    font-weight: bold;
        margin-left:25px ;
}
.container p{
color:rgb(11, 10, 10);
font-weight: bold;
text-align: center;
justify-content: center;
align-items: center;

}